.integrationBigMain {
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 100px;
}

.integrationMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

.integrationContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.integrationImage img {
  width: 100%;
  /* box-shadow: -20px 50px  80px rgba(0, 204, 179, 0.2); */

}

.integrationMain {
  position: relative;
}

.iBars {
  position: absolute;
  top: -70px;
  left: 170px;
  /* top: -300px; */
}

.integrationImage {
  position: relative;
}

.iLine {
  position: absolute;
  top: 300px;
  left: 300px;
  z-index: -2;
}

@media screen and (max-width: 1000px) {
  .integrationMain {
    grid-template-columns: 1fr;
  }
}
