.snapShotBigMain {
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.snapShopMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

.snapShotContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.snapShotImage {
  position: relative;
}

.snapShopMain {
  position: relative;
}



.snapMiddleBar {
  position: absolute;
  width: 100px;
  position: absolute;
  top: 140px;
  left: -30px;
  z-index: -5;
}

.snapTopBar {
  /* height: 100px; */
  width: 100px;
  position: absolute;
  top: -50px;
  left: 140px;
  /* z-index: -5; */
}

@media screen and (max-width: 1000px) {
  .snapShopMain {
    grid-template-columns: 1fr;
  }
}
