.aboutBigMain{
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding: 150px 0px;
}
.aboutContent h1{
color: #332C5C;
font-family: 'Nunito', sans-serif;
}

.aboutContent p{
 color: #4C4C4C;
 font-family: 'Nunito', sans-serif;
 font-size: 20px;
 word-break: break-all;
}

.aboutImageWrapper{
  /* background-color: red; */
  position: relative;
}

.aboutImage img{
    width: 100%;
}

.aboutBase{
    height: 80%;
    width: 100%;
}
.aboutImageWrapper .aboutImg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10%;
    left: 0px;
}

.aboutVBar{
position: absolute;
bottom: -3%;
right: 2%;
z-index: -2;
}

.aboutHbar{
position: absolute;
left: -10%;
top: -15%;
z-index: -2;
}

@media screen and (max-width:1100px) {
    .aboutBigMain{
        grid-template-columns: 1fr;
    }
    .aboutImageWrapper{
        margin-top: 60px;
    }
}